<div class="card">
  <div class="card-content">
    <span class="card-title">Nuevo Curso</span>
    <form class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" name="nombre" id="nombre" placeholder="Nombre del curso">
          <label>Nombre</label>
        </div>
        
        <div class="input-field col s6">
          <input type="text" name="descripcion" id="descripcion" placeholder="Descripcion del curso">
          <label>Descripcion</label>
        </div>

        <div class="input-field col s6">
          <input type="text" name="formador" id="formador" placeholder="Profesor del curso">
          <label>Profesor</label>
        </div>

        <div class="input-field col s6">
            <input type="text" name="precio" id="precio" placeholder="Precio del curso">
            <label>Precio</label>
        </div>

         <div class="input-field col s6">
            <input type="text" name="idioma" id="idioma" placeholder="Idioma del curso">
            <label>Idioma</label>
          </div>

          <div class="input-field col s6">
               <input type="text" name="tecnologia" id="tecnologia" placeholder="Tecnologia del curso">
               <label>Tecnologia</label>
          </div>
          <button type="submit" class="btn waves-effect waves-light orange right">Guardar
            <i class="material-icons">add_circle</i>
          </button>
      </div>
    </form>
  </div>
</div>